{% if pager_show %}
  <ul class="pagination">
    <li{% if pager_prev < 1 %} class="disabled"{% endif %}><a href="?offset={{ pager_prev }}">&larr;</a></li>
    {% for page_number in pager_pages %}
    {% ifequal pager_offset page_number %}
    <li class="disabled"><a href="#">{{ page_number|add:"1" }}</a></li>
    {% else %}
    <li><a href="?offset={{ page_number }}">{{ page_number|add:"1" }}</a></li>
    {% endifequal %}
    {% endfor %}
    <li{% if not pager_remaining %} class="disabled"{% endif %}><a href="?offset={{ pager_next }}">&rarr;</a></li>
  </ul>
{% endif %}
