{% extends "base.html" %}
{% block title %}{{ html_title|title }} - {{ block.super }}{% endblock %}
{% block body %}
<h1 class="title">{{ html_title }}</h1>
<div class="pages">
{% for page in pages %}
  <div class="page">
    <h2><a href="/{{ page.slug }}/">{{ page.title }}</a></h2>
    <span class="date">{{ page.pub_date|date:"SHORT_DATE_FORMAT" }}</span>
    {% include "sisyphus/tags.html" %}
    <p class="summary">{{ page.summary|safe }}</p>
  </div>
{% endfor %}
</div>
{% include "sisyphus/pager.html" %}

{% endblock %}

