{% extends "base.html" %}
{% block title %}{{ page.title }}{% endblock %}
{% block body %}
<div class="page">
  <h2>{% if not page.published %}<strong>DRAFT - </strong>{% endif %}<a href="/{{ page.slug }}">{{ page.title }}</a></h2>
  {% if page.published %}<span class="date">{% if page.edit_date != page.pub_date %}<span class="edited">(edited {{ page.edit_date|date:"SHORT_DATE_FORMAT" }})</span>{% endif %}{{ page.pub_date|date:"SHORT_DATE_FORMAT" }}</span>{% endif %}
  {% for tag in page.tags %}<span class="tag"><a href="/tags/{{ tag }}/">{{ tag }}</a></span>{% endfor %}
  <br class="clear">
   {% if page.published %}{% include "sisyphus/social.html" %}{% endif %}
   <div class="text">
  {{ page.html|safe }}
   </div>
   {% if page.published %}{% include "sisyphus/social.html" %}{% endif %}
</div>

{% if page.published %} 
<div id="disqus_thread"></div>
<script type="text/javascript">
var disqus_shortname = '{{ disqus_shortname }}';
{% if debug %}var disqus_developer = 1;{% endif %}
var disqus_identifier = '{{ page.slug }}';
var disqus_title = '{{ page.title }}';
var disqus_url = 'http://lethain.com/{{ page.slug }}/';
(function() {
  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
  dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}

{% endblock %}

