{% extends "base.html" %}
{% block title %}Results for "{{ query }}" - {{ block.super }}{% endblock %}
{% block body %}
<h1 class="title">{{ html_title }}</h1>
<div class="pages">
{% if pages %}
{% for page in pages %}
  <div class="page">
    <h2><a href="/{{ page.slug }}/">{{ page.title }}</a></h2>
    <div class="row">
      <div class="col-md-2">
	<span class="date col-md-2">{{ page.pub_date|date:"SHORT_DATE_FORMAT" }}</span>
      </div>
      <div class="col-md-10">
        {% with "pull-right" as extra_cls %}
	  {% include "sisyphus/tags.html" %}
        {% endwith %}
      </div>
    </div>
    <p class="summary">{{ page.summary|safe }}</p>
  </div>
{% endfor %}
{% else %}
<h2>No results for <code>{{ query }}</code>.</h2>
<p>Try another query...</p>
{% endif %}

</div>
{% endblock %}

