<div class="social">
<a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="{{ twitter_username }}">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>

<iframe id="fb" src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2F{{ domain }}%2F{{ page.slug }}%2F&amp;layout=button_count&amp;show_faces=true&amp;width=450&amp;action=like&amp;font=lucida+grande&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:90px; height:21px;" allowTransparency="true"></iframe>

</div>
