/*------------------------------------*\
 From http://www.venturelab.co.uk/demos/css-dropdown/
	NAV
\*------------------------------------*/
#nav,#tagnav, .pager{
	list-style:none;
	font-weight:bold;
	margin-bottom:10px;
}
#tagnav {
    font-size: 90%;
    line-height: 90%;
}


#nav li, #tagnav li, .pager li{
     float:left;
     margin-right:10px;
     position:relative;
     display:block;
}
#nav li a, #tagnav li a, .pager li a{
     display:block;
     padding:5px;
     color:#fff;
     background:#999;
     text-decoration:none;
     text-shadow:1px 1px 1px rgba(70,70,70,0.75); /* Text shadow to lift it a little */
     -moz-border-radius:5px;
     -webkit-border-radius:5px;
     border-radius:5px;
}

#tagnav li a {
    background:#666;
}

#nav li a:hover, #tagnav li a:hover, .pager li a:hover{
     color:#fff;
     background:#6b0c36;
     background:rgba(107,12,54,0.75); /* It'll look nice semi-transparent */
}
