body {
    line-height:1.5;
    font-family:"Helvetica Neue", "Lucida Grande", Arial, Verdana, sans-serif;
    color:#000;
    background:none;
    font-size:10pt;
}

h1,h2,h3,h4,h5,h6 {
    font-family:"Helvetica Neue", Arial, "Lucida Grande", sans-serif;
}

.date, .tag {
    margin-right: 10px;
}

code {
    font:.9em "Courier New", Monaco, Courier, monospace;
}

.module, #hd, #ft {
    display: none;
}