body, html {
    font-family: “Lucida Sans Unicode”, “Lucida Grande”, Verdana, Arial, Helvetica, sans-serif;
    line-height: 125%;
    background: #505070;
}

h1, h2, h3, h4, h5, #hd, #searchbutton, #searchbox {
    font-family: Georgia, Serif;
}

/*
 * Shared Module and Body Stuff
 */
.module, #body, #ft {
    border: 3px solid #AAA;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    background: #EEE;
    padding: 5px;
}
#body {
    border: 3px solid #555;
    padding: 10px 5px 5px 10px;
}

/*
 * Header CSS
 */

#hd {
    margin: 5px 0 5px 0;
}

#hd h1 {
    font-weight: bold;
    padding: 5px 5px 5px 0;
}

#hd h1 a {
     padding: 4px;
     color:#fff;
     background:#999;
     text-decoration:none;
     text-shadow:1px 1px 1px rgba(70,70,70,0.75); /* Text shadow to lift it a little */
     -moz-border-radius:5px;
     -webkit-border-radius:5px;
     border-radius:5px;
}

#hd h1 a:hover{
    color:#fff;
    background:#777;
    background:rgba(107,12,54,0.75); /* It'll look nice semi-transparent */
}

#searchbox {
    height: 26px;
    width: 150px;
     -moz-border-radius:5px;
     -webkit-border-radius:5px;
     border-radius:5px;
}
#searchbutton {
    font-weight:bold;
    width: 50px;
    height: 26px;
    color:#fff;
    background:#999;
    border:#6b0c36;
    text-shadow:1px 1px 1px rgba(70,70,70,0.75);
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    cursor: pointer;
}

#searchbutton:hover{
    color:#fff;
    background:#6b0c36;
    background:rgba(107,12,54,0.75); /* It'll look nice semi-transparent */
}

#hd form.grid_3 {
    margin-right: 0;
}

/*
 * Footer
 */
#ft {
    text-align: center;
    border: 3px solid #CCC;
    color: #AAA;
    margin-top: 10px;
    padding: 5px 0 5px 0;
}
#ft a {
    color: #777;
    text-decoration: none;
}


/*
 * Right-Rail Modules CSS
 */

.module {
    margin: 0 0 10px 0;
    color: #444
}

.module ul li {
    margin: 5px 0 5px 0;
}

#body a, .module a {
    color: #55A;
    text-decoration: none;
}
#body a:visited, .module a:visited {
    color: #399;
}

#body .tag a:hover, .module a:hover {
    text-decoration: underline;
}

.module h2 {
    border-bottom: 3px solid #999;
    margin-bottom: 5px;
    color: #555;
}

/*
 * Main content area
 */
#body h1, #body h2, #body h3 {
    border-bottom: 1px solid #AAA;
    padding-bottom: 1px;
    margin: 20px 0 10px 0;
    margin-bottom: 10px;
    font-size: 150%;
}

#body h1.title {
    font-size: 175%;
    border-bottom: none;
    margin-bottom: 30px;
}

#body p {
    margin-bottom: 20px;
}

#body h2 a {
    text-decoration: none;
}

#body .date {
    float: right;
    padding-right: 10px;
    color: #777;
    font-size: 90%;
}
#body .page .date {
    padding-right: 20px;
}

#body .page .dateedited {
     color: #555;
     float: right;
}

#body .page .social {
    margin: 10px 20px;
}

#body .page .social a.hn-share-button {
    display: none;
}


#body .summary, #body .page .text p, #body .page pre, #body .page li {
    margin: 10px 10px 10px 20px;
}
#body .summary, #body .page .text p {
    width: 500px;
    text-align: justify;
}
#body .page .text p + p {
    margin-top: 15px;
}

#body .page .text blockquote {
    font-family: Georgia, Serif;
    margin: 10px 40px;
    padding: 5px 10px;
    color: #222;
    border-left: 3px solid;
}
#body .page .text blockquote p {
    margin-left: 0;
}

#body table {
    margin: 10px 10px 10px 30px;
}
#body .analytics table {
    width: 500px;
}

#body table td {
    border: 1px solid #777;
    padding: 5px;
}
#body table thead {
    font-weight: bold;
}

#body .tag {
    font-size: 90%;
}
#body .page .tag {
    margin-left: 20px;
}
#body .tag .tagcount {
    color: #777;
    margin-left: 5px;
    font-size: 80%;
}


#body .pagination.bottom {
      border-top: 1px solid #AAA;
      padding: 5px 0 0 20px;

}

#body .page {
      margin-bottom: 10px;
}

#body .page .text {
    margin-top: 20px;
}

#body .page .text ul {
    margin: 10px 10px 10px 20px;
    list-style: disc;
}
#body .page .text ol {
    margin: 10px 10px 10px 30px;
    list-style: decimal;
}

#body .page .text .toc {
    border: 1px solid #999;
    background: #FFF;
    margin: 10px 50px 10px 50px;
    font-size: 90%;
}

#body .page .text .toc ul {
    line-height: 90%;
}


#body .page .text li {
    margin-bottom: 5px;
}

#body .page .text img {
    max-width: 620px;
    border: 2px solid #CCC;
}

/*
 * Tags page
 */
ul.taglist li {
    font-size: 150%;
    margin: 10px 0 10px 10px;
}

/*
 * Pagination
 */
.pagination {
    padding-top: 10px;
    border-top: 1px solid #AAA;
}

.pagination li {
    float: left;
    margin: 10px;
}

#disqus_thread {
    border-top: 3px solid #777;
    padding: 10px;
}

#body #disqus_thread table td {
    border: none;
}