<html>
<head>
<title>{% block title %}Irrational Exuberance{% endblock %}</title>
<link href="/static/grid.css" media="screen" rel="stylesheet" type="text/css" />
<link href="/static/nav.css" media="screen" rel="stylesheet" type="text/css" />
<link href="/static/code.css" media="screen" rel="stylesheet" type="text/css" />
<link href="/static/sisyphus.css" media="screen" rel="stylesheet" type="text/css" />

<body>
<div class="container container_12">
{% include "header.html" %}

<div class="grid_9">
  <div id="body">
  {% block body %}{% endblock %}
  </div>
</div>
<div id="modules" class="grid_3">
{% block modules %}
{% for module in modules %}
<div class="module">
{% if module.title %}<h2>{{ module.title }}</h2>{% endif %}
{% if module.html %}{{ module.html|safe }}{% endif %}
{% if module.pages %}<ul class="story-list">
{% for module_page in module.pages %}<li><a href="/{{ module_page.slug }}/">{{ module_page.title|truncatewords:5 }}</a></li>{% endfor %}
{% if module.more_link %}<li><a href="{{ module.more_link|safe }}">More&hellip;</a></li>{% endif %}
</ul>{% endif %}
</div>
{% endfor %}
{% endblock %}
</div>

<div class='clear'>&nbsp;</div> 
{% include "footer.html" %}
</div>
</body>
</html>
