<nav class="navbar navbar-sisyphus" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Irrational Exuberance</a>
    </div>

    <form action="/search/" method="GET" class="navbar-form pull-right hidden-xs" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="search" id="searchbox" name="q" value="{{ query }}">
      </div>
      <button type="submit" class="btn btn-default" alt="Search"><span class="glyphicon glyphicon-search"></span></button>
    </form>

    <ul class="nav navbar-nav pull-right hidden-xs">
      <li><a href="https://twitter.com/Lethain">Twitter</a></li>
      <li><a href="http://github.com/lethain">GitHub</a></li>
      <li><a href="http://www.linkedin.com/pub/will-larson/3/b54/a44">LinkedIn</a></li>
      <li><a href="/feeds/">RSS</a></li>
    </ul>
  </div>
</nav>
{% if nav_tags %}
<div class="container">
  <ul class="nav nav-pills hidden-xs">
    {% for tag in nav_tags %}<li><a href="/tags/{{ tag.0 }}/"><span class="badge pull-right">{{ tag.1 }}</span> {{ tag.0 }}</a></li>{% endfor %}
    <li><a href="/tags/">&hellip;</a></li>
  </ul>
</div>
{% endif %}


