<div id="hd">
  <div class="grid_4">
    <h1><a href="/">Irrational Exuberance</a></h1>
  </div>
  <ul id="nav" class="grid_4 prefix_1">
    <li><a href="#">Tags</a>
      <ul>
	<li><a href="#">Django</a></li>
	<li><a href="#">Django</a></li>
	<li><a href="#">Django</a></li>
	<li><a href="#">Django</a></li>
	<li><a href="#">Django</a></li>
      </ul>
    </li>
    <li><a href="#">Projects</a>
      <ul>
	<li><a href="#">Django</a></li>
	<li><a href="#">Django</a></li>
	<li><a href="#">Django</a></li>
	<li><a href="#">Django</a></li>
	<li><a href="#">Django</a></li>
      </ul>
    </li>
    <li><a href="/">Contact</a></li>
  </ul>
    <form target="/search/" class="grid_3">
      <input id="searchbox" name="q">
      <input id="searchbutton" type="submit" value="Search">
    </form>

</div>
